oci:
  compartmentId: {{ requiredEnv "EXTERNAL_DNS_OCI_COMPARTMENT_ID" | quote }}

domainFilter: {{ requiredEnv "EXTERNAL_DNS_DOMAIN_FILTER" | quote }}
txtOwnerId: {{ requiredEnv "EXTERNAL_DNS_TXT_OWNER_ID" | quote }}
